:root {
  --bg-main-color: #FFFFFF;
  --bg-dark-color:  #2F303A;
  --bg-middle-color: #F5F4FA;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--bg-main-color);
  font-family: "Roboto", sans-serif;
  color: #757575;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ol,
ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 320px) {
  header {
    border-bottom: 1px solid #ECECEC;
  }
  .header.container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-content__logo, .header-content__logo-piece {
    margin-right: 0;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #2196F3;
  }
  .header-content__logo-piece {
    color: #212121;
  }
  .menu-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
    margin: 0px;
    width: 40px;
    height: 40px;
    border: transparent;
    background-color: #ffffff;
    fill: #000000;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-toggle:hover, .menu-toggle:active,
  .menu-toggle:focus .menu-open-btn {
    fill: #2196F3;
  }
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 48px;
    padding-right: 15px;
    padding-left: 40px;
    padding-bottom: 48px;
    background-color: #ffffff;
    z-index: 999;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-container.is-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .js-close-menu {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  .header-content__nav {
    list-style: none;
  }
  .header-content__nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-content__nav-link:hover, .header-content__nav-link:active, .header-content__nav-link:focus {
    color: #2196F3;
  }
  .header-content__nav-list {
    margin-bottom: 32px;
  }
  .header-content__nav-list:last-child {
    margin-bottom: 302px;
  }
  .sticky-block {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
  }
  .header-content__contact-list {
    list-style: none;
  }
  .header-content__contact-item {
    margin-bottom: 32px;
  }
  .header-content__contact-item:last-child {
    margin-bottom: 64px;
  }
  .header-content__contact-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-content__contact-tel:hover, .header-content__contact-tel:focus, .header-content__contact-tel:active {
    color: #2196F3;
  }
  .header-content__icon-smartphone {
    display: none;
  }
  .header-content__contact-email {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-content__contact-email:hover, .header-content__contact-email:focus, .header-content__contact-email:active {
    color: #2196F3;
  }
  .header-content__icon-envelop {
    display: none;
  }
  .header-content__net-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
  .header-content__net-item {
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
  }
  .header-content__net-item:first-child {
    margin-left: 0px;
  }
  .header-content__net-item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    display: block;
    width: 22px;
    height: 0;
    border: 0.5px solid rgba(33, 33, 33, 0.2);
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .header-content__net-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2196F3;
  }
  .tablets-desctop-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .header-content {
    margin-right: 88px;
  }
  .menu-toggle,
  .menu-container {
    display: none;
  }
  .tablets-desctop-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-content__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-content__nav-list {
    position: relative;
    margin-left: 0px;
    margin-right: 50px;
    margin-bottom: 0px;
  }
  .header-content__nav-list:last-child {
    margin-right: 84px;
    margin-bottom: 0px;
  }
  .header-content__nav-link {
    position: relative;
    margin-left: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-content__nav-link:hover, .header-content__nav-link:active, .header-content__nav-link:focus {
    color: #2196F3;
  }
  .opened::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    top: 45px;
    background-color: #2196F3;
    border-radius: 2px;
    opacity: 1;
  }
  .header-content__contact-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-left: 0px;
    margin-bottom: 10px;
  }
  .header-content__contact-item:last-child {
    margin-bottom: 0;
  }
  .header-content__contact-item:hover, .header-content__contact-item:focus,
  .header-content__contact-item:active .header-content__icon-smartphone {
    fill: #2196F3;
  }
  .header-content__contact-item:hover, .header-content__contact-item:focus,
  .header-content__contact-item:active .header-content__icon-envelop {
    fill: #2196F3;
  }
  .header-content__contact-item:hover, .header-content__contact-item:focus,
  .header-content__contact-item:active .header-content__contact-tel {
    color: #2196F3;
  }
  .header-content__contact-item:hover, .header-content__contact-item:focus,
  .header-content__contact-item:active .header-content__contact-email {
    color: #2196F3;
  }
  .header-content__contact-tel {
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-content__icon-smartphone {
    display: inline-block;
    margin-left: 0px;
    margin-right: 8px;
    fill: #757575;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-content__contact-email {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-content__icon-envelop {
    display: inline-block;
    margin-left: 0px;
    margin-right: 6px;
    fill: #757575;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .current {
    color: #2196F3;
  }
  .current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    top: 45px;
    background-color: #2196F3;
    border-radius: 2px;
    opacity: 1;
  }
}

@media screen and (min-width: 1200px) {
  .header.container {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .header-content {
    margin-right: 93px;
  }
  .header-content__logo, .header-content__logo-piece {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  .header-content__nav-list:last-child {
    margin-right: 305px;
  }
  .header-content__contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-content__contact-item {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .header-content__contact-item:last-child {
    margin-right: 0px;
  }
  .header-content__contact-email {
    font-size: 13.6px;
    line-height: 1.14;
  }
  .header-content__icon-envelop {
    margin-right: 10px;
    width: 16px;
    height: 12px;
  }
  .header-content__contact-tel {
    width: auto;
    font-size: 13.6px;
    line-height: 1.14;
  }
  .header-content__icon-smartphone {
    margin-right: 10px;
    width: 10px;
    height: 16px;
  }
}

@media screen and (min-width: 320px) {
  footer {
    background-color: var(--bg-dark-color);
  }
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer__logo {
    display: block;
    margin-bottom: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #2196F3;
  }
  .footer__logo-piece {
    color: #FFFFFF;
  }
  .footer__address {
    list-style: none;
  }
  .footer__address-link {
    display: block;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
  }
  .footer__email {
    display: block;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer__tel {
    display: block;
    margin-bottom: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer__address-part {
    padding: 0;
    margin-bottom: 60px;
  }
  .footer__socials {
    padding: 0;
    margin-bottom: 60px;
  }
  .footer__call-to-action {
    display: block;
    padding: 0;
    margin-bottom: 20px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .footer__nets-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 206px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
  }
  .footer__net-icon-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__net-icon-box:hover, .footer__net-icon-box:focus, .footer__net-icon-box:active {
    background-color: #2196F3;
  }
  .footer__net-icon {
    fill: #ffffff;
  }
  .footer__form {
    margin: 0;
    padding: 0;
  }
  .footer__form-label {
    display: block;
    padding: 0;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .footer__email-field {
    display: block;
    padding: 15px 16px;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }
  .footer__email-field::-webkit-input-placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer__email-field:-ms-input-placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer__email-field::-ms-input-placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer__email-field::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer__subscribe-btn {
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    padding-right: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #2196F3;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: transparent;
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
  }
  .footer__send-icon {
    margin-left: 10px;
    fill: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .footer__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding: 0;
    margin-bottom: 60px;
  }
  .footer__address-part {
    margin-right: 165px;
    margin-left: 76px;
    margin-bottom: 0px;
  }
  .footer__socials {
    margin-bottom: 0;
  }
  .footer__email-field {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer__address-part {
    margin-left: 0;
  }
  .footer__logo {
    text-align: left;
  }
  .footer__address-link {
    text-align: left;
  }
  .footer__email {
    text-align: left;
  }
  .footer__tel {
    text-align: left;
  }
  .footer__address-part {
    margin-right: 70px;
  }
  .footer__socials {
    margin-right: 93px;
  }
  .footer__call-to-action {
    text-align: left;
  }
  .footer__input-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0;
  }
  .footer__form-label {
    text-align: left;
  }
  .footer__email-field {
    width: 358px;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 12px;
  }
  .footer__subscribe-btn {
    margin: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .footer__tablet {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 320px) {
  .clients {
    background-color: var(--bg-main-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .clients__title {
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.178;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
  .clients__list {
    margin-bottom: -30px;
    margin-right: -30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
  .clients__list-item {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .clients__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 128px;
    height: 57px;
    margin: 0;
    border-color: #AFB1B8;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients__link:hover, .clients__link:active, .clients__link:focus {
    border-color: #2196F3;
  }
  .clients__link:hover, .clients__link:active,
  .clients__link:focus .clients__icon {
    fill: #2196F3;
  }
  .clients__icon {
    fill: #AFB1B8;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 480px) {
  .clients__link {
    width: 208px;
    height: 92px;
  }
}

@media screen and (min-width: 768px) {
  .clients-list {
    -ms-flex-preferred-size: calc(100% / 3 - 60px);
        flex-basis: calc(100% / 3 - 60px);
  }
  .clients__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.1719;
  }
  .clients-list {
    -ms-flex-preferred-size: calc(100% / 6 - 30px * 5);
        flex-basis: calc(100% / 6 - 30px * 5);
  }
  .clients__link {
    width: 170px;
  }
}

@media screen and (min-width: 320px) {
  .advantage {
    margin: 0;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .advantage__list {
    margin-bottom: -30px;
  }
  .advantage__list-item {
    margin-top: 0;
    margin-bottom: 30px;
    padding: 0;
  }
  .advantage__icon-box {
    width: 100%;
    height: 120px;
    padding: 0;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #F5F4FA;
    border-radius: 4px;
  }
  .advantage__item-title {
    margin-top: 0;
    padding: 0;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
  }
  .advantage__item-description {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: justify;
    color: #757575;
  }
}

@media screen and (min-width: 768px) {
  .advantage__list {
    margin-right: -30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
  .advantage__list-item {
    max-width: 354px;
    margin-right: 30px;
  }
  .advantage__item-title {
    text-align: left;
  }
  .advantage__item-description {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .advantage {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .advantage__list {
    margin-bottom: 0;
    margin-right: 0;
    -ms-flex-preferred-size: calc(100% / 4 - 30px * 3);
        flex-basis: calc(100% / 4 - 30px * 3);
  }
  .advantage__list-item {
    max-width: 270px;
    margin-bottom: 0;
  }
  .advantage__list-item:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 319px) and (max-width: 1199px) {
  section.service {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .service {
    background-color: var(--bg-main-color);
    padding-bottom: 94px;
  }
  .service__title {
    margin-top: 0px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
  .service__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    margin: 0;
  }
  .service__list-item {
    position: relative;
    list-style: none;
  }
  .service__label {
    position: absolute;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    margin: 0;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
  }
  .service__label-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}

@media screen and (min-width: 320px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--bg-middle-color);
  }
  .team__title {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
  .team__list-item {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
  .team__list-item:last-child {
    margin-bottom: 0;
  }
  .team__item-descr {
    padding-top: 30px;
    padding-bottom: 24px;
    padding-left: 42px;
    padding-right: 42px;
    background-color: #ffff;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team__item-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
  }
  .team__item-role {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .team__social-nets-block {
    margin: 0;
  }
  .team__nets-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .team__net-icon-thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #FFFFFF;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .team__net-icon {
    fill: #AFB1B8;
    -webkit-transition-property: fill;
    transition-property: fill;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .team__net-icon-link:hover .team__net-icon-thumb,
  .team__net-icon-link:focus .team__net-icon-thumb {
    background-color: #2196F3;
  }
  .team__net-icon-link:hover .team__net-icon,
  .team__net-icon-link:focus .team__net-icon {
    fill: #ffffff;
  }
}

@media screen and (min-width: 480px) {
  .team__item-descr {
    padding-left: 122px;
    padding-right: 122px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    margin-bottom: -30px;
  }
  .team__list-item {
    width: 354px;
    margin-right: 30px;
  }
  .team__list-item:nth-child(2n) {
    margin-right: 0;
  }
  .team__list-item:last-child {
    margin-bottom: 30px;
  }
  .team__item-descr {
    padding-left: 74px;
    padding-right: 74px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.1719;
  }
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
  .team__list-item {
    width: 270px;
  }
  .team__list-item:nth-child(2n) {
    margin-right: 30px;
  }
  .team__list-item:last-child {
    margin-bottom: 0px;
  }
  .team__item-descr {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 320px) {
  .portfolio {
    background-color: var(--bg-main-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  /*----------------------PORTFOLIO-FILTRATION----------------------*/
  .portfolio__filtr-btn {
    padding: 6px 22px;
    background: #F5F4FA;
    border-radius: 4px;
    border: transparent;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: #F5F4FA;
    -webkit-transition-property: background-color, color;
    transition-property: background-color, color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio__filtr-btn:active, .portfolio__filtr-btn:hover, .portfolio__filtr-btn:focus {
    color: #FFFFFF;
    background: #2196F3;
  }
  .portfolio__filtr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portfolio__filtr-item {
    margin-right: 8px;
    margin-bottom: 15px;
  }
  .portfolio__filtr-item:nth-child(5) {
    margin-bottom: 40px;
  }
  /*--------------------------------PORTFOLIO-PROJECTS-----------------------------------------*/
  .portfolio__project-list-item {
    margin-bottom: 30px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio__project-list-item:last-child {
    margin-bottom: 0;
  }
  .portfolio__project-list-item:hover, .portfolio__project-list-item:focus, .portfolio__project-list-item:active {
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .portfolio__project-list-item:hover, .portfolio__project-list-item:focus,
  .portfolio__project-list-item:active .portfolio__project-pic-overlay {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .portfolio__project-thumb {
    position: relative;
  }
  .portfolio__project-descr {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
    padding-left: 24px;
  }
  .portfolio__project-name {
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    color: #212121;
  }
  .portfolio__project-category {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    text-align: left;
    color: #757575;
  }
  .portfolio__project-pic-overlay {
    width: 100%;
    height: auto;
    padding: 77px 24px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2196F3;
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio__overlay-text {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
  }
}

@media screen and (min-width: 480px) {
  .portfolio__overlay-text {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__project-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    margin-bottom: -30px;
  }
  .portfolio__project-list-item {
    width: 350px;
    margin-right: 30px;
  }
  .portfolio__project-list-item:nth-child(2n) {
    margin-right: 0;
  }
  .portfolio__project-pic-overlay {
    width: 100%;
    height: auto;
    padding-top: 49px;
  }
  .portfolio__filtr-item {
    margin-right: 8px;
    margin-bottom: 30px;
  }
  .portfolio__filtr-item:nth-child(5) {
    margin-bottom: 30px;
  }
  .portfolio__filtr-item:last-child {
    margin-right: 0px;
  }
  .portfolio__filtr {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .portfolio__filtr-item {
    margin-bottom: 50px;
  }
  .portfolio__project-list-item {
    width: 368px;
    margin-right: 30px;
  }
  .portfolio__project-list-item:nth-child(2n) {
    margin-right: 30px;
  }
  .portfolio__project-list-item:nth-child(3n) {
    margin-right: 0;
  }
  .portfolio__project-list-item:last-child {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 320px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: url(../images/img-adaptive/bg/bg-mobile/overlay/img-overlay-min.png), url(../images/img-adaptive/bg/bg-mobile/header-img-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 320px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 320px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/img-adaptive/bg/bg-mobile/overlay/img-overlay@2x-min.png), url(../images/img-adaptive/bg/bg-mobile/header-img@2x-min.jpg);
  }
}

@media screen and (min-width: 320px) {
  .hero__title {
    max-width: 360px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .hero__btn {
    display: block;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: 200px;
    height: 50px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    border-radius: 4px;
    background-color: #2196F3;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../images/img-adaptive/bg/bg-tablet/overlay/overlay-min.png), url(../images/img-adaptive/bg/bg-tablet/header-img-min.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/img-adaptive/bg/bg-tablet/overlay/overlay@2x-min.png), url(../images/img-adaptive/bg/bg-tablet/header-img@2x-min.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url(../images/img-adaptive/bg/bg-desctop/overlay/overlay-min.png), url(../images/img-adaptive/bg/bg-desctop/Img-min.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/img-adaptive/bg/bg-desctop/overlay/overlay@2x-min.png), url(../images/img-adaptive/bg/bg-desctop/Img@2x-min.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 320px) {
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  .backdrop.is-hidden .modal {
    -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1) rotate(1turn);
            transform: translate(-50%, -50%) scale(1) rotate(1turn);
    width: 305px;
    padding: 20px;
    background-color: #FFFFFF;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__close-btn {
    position: absolute;
    top: 8px;
    left: 268px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  .modal__close-btn:hover, .modal__close-btn:focus,
  .modal__close-btn:active modal__close-icon {
    fill: rgba(33, 150, 243, 0.9);
  }
  .modal__close-icon {
    -webkit-transition-property: fill;
    transition-property: fill;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    padding: 40px;
  }
  .modal__close-btn {
    left: 408px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
  .modal__close-btn {
    left: 490px;
  }
}

@media screen and (min-width: 320px) {
  .modal__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal__form-title {
    width: 100%;
    padding: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
  .modal__form-field {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px;
    width: 100%;
  }
  .modal__form-label {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
  }
  .modal__input-icon {
    position: relative;
    margin-bottom: 10px;
    padding: 0;
  }
  .modal__form-input {
    width: 100%;
    height: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 16px;
    padding-left: 42px;
    margin: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    -webkit-transition-property: border;
    transition-property: border;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__form-input:hover, .modal__form-input:active, .modal__form-input:focus {
    border: 1px solid #2196F3;
  }
  .modal__form-input:focus + .modal__icon-person {
    fill: rgba(33, 150, 243, 0.9);
  }
  .modal__icon-person {
    position: absolute;
    top: 50%;
    left: 12px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition-property: fill;
    transition-property: fill;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__form-text-area {
    height: 120px;
    margin-bottom: 20px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    -webkit-transition-property: border;
    transition-property: border;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__form-text-area:focus, .modal__form-text-area:hover, .modal__form-text-area:active {
    border: 1px solid #2196F3;
  }
  .modal__form-text-area::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  .modal__form-text-area:-ms-input-placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  .modal__form-text-area::-ms-input-placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  .modal__form-text-area::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  .modal__checkbox-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .modal__checkbox {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  .modal__checkbox:checked + .modal__checkbox-box {
    background-color: #2196F3;
    background-image: url("../images/icon-check.svg");
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px solid #2196F3;
  }
  .modal__checkbox-box {
    display: inline-block;
    margin-right: 8.38px;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 4px;
    -webkit-transition-property: background-color, border, background-image;
    transition-property: background-color, border, background-image;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__checkbox-link {
    margin-left: 5.5px;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #2196F3;
  }
  .modal__submit-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 200px;
    height: 50px;
    padding: 0;
    background: #2196F3;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
    -webkit-transition-property: -webkit-box-shadow;
    transition-property: -webkit-box-shadow;
    transition-property: box-shadow;
    transition-property: box-shadow, -webkit-box-shadow;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__submit-btn:focus, .modal__submit-btn:active, .modal__submit-btn:hover {
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
  }
}

@media screen and (min-width: 480px) {
  .modal__checkbox-label {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .modal__checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
  .modal__checkbox-link {
    font-size: 14px;
    line-height: 1.71;
  }
  .modal__form-title {
    font-size: 20px;
    line-height: 1.15;
  }
}
/*# sourceMappingURL=main.css.map */