


@media screen and (min-width: 320px) {
        footer {
            background-color: var(--bg-dark-color);
        }
        
        .footer {
        padding-top: 60px;
        padding-bottom: 60px;
        
        

        }

        .footer__logo {
            display: block;

            margin-bottom: 20px;
            
            
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            letter-spacing: 0.03em;
            text-decoration: none;

            color: #2196F3;
        }

        .footer__logo-piece {
            color: #FFFFFF; 
        }

        .footer__address {
            list-style: none;
        }


        .footer__address-link {
            display: block;

            margin-bottom: 8px;
            
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.71;
            text-align: center;
            letter-spacing: 0.03em;
            text-decoration: none;
            text-align: center;
            
            color: #FFFFFF;
            }


            .footer__email {
                display: block;
                margin-bottom: 8px;

                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 1.17;
                text-decoration: none;
                text-align: center;
                letter-spacing: 0.03em;

                color: rgba(255, 255, 255, 0.6);

            }

            .footer__tel {
                display: block;
                margin-bottom: 0px;

                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 1.17;
                text-decoration: none;
                text-align: center;
                letter-spacing: 0.03em;

                color: rgba(255, 255, 255, 0.6)

            }

            .footer__address-part {
                padding: 0;
                margin-bottom: 60px;
            }

            .footer__socials {
                padding: 0;
                margin-bottom: 60px;
            }

            .footer__call-to-action {
                display: block;

                padding: 0;
                margin-bottom: 20px;

                text-align: center;
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                letter-spacing: 0.03em;
                text-transform: uppercase;

                color: #FFFFFF;
            }

            .footer__nets-list {
                display: flex;
                width: 206px;
                justify-content: space-between;

                

                margin-left: auto;
                margin-right: auto;

                list-style: none;

            }

            .footer__net-icon-box {
                display: flex;
                justify-content: center;
                align-items: center;
               
                width: 44px;
                height: 44px;
                border-radius: 50%;
            
            
                background-color: rgba(255, 255, 255, 0.1);
            
            
                transition-property: background-color;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

                &:hover,
                &:focus,
                &:active {
                    background-color: #2196F3;
                }
                        
            }

            .footer__net-icon {
                fill: #ffffff;
            }


            .footer__form {
                margin: 0;
                padding: 0;
            }

            .footer__form-label {
                display: block;
                padding: 0;
                margin-bottom: 20px;
                
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 1.14;
                text-align: center;
                letter-spacing: 0.03em;
                text-transform: uppercase;

                color: #FFFFFF;
                
            }

            .footer__email-field {
                display: block;
                padding: 15px 16px;
                width: 100%;
                height: 50px;
                margin-bottom: 20px;

                background-color: inherit;
                border: 1px solid rgba(255, 255, 255, 0.3);
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
                border-radius: 4px;

                &::placeholder {
                                        
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1.25;
                    letter-spacing: 0.03em;

                    color: rgba(255, 255, 255, 0.6);
                }
            }


            .footer__subscribe-btn {
                width: 200px;
                height: 50px;
                
                margin-left: auto;
                margin-right: auto;

                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 29px;
                padding-right: 28px;
                
                display: flex;
                align-items: center;

                background: #2196F3;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                border: transparent;
                border-radius: 4px;


                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 1.88;
                
                
                
                text-align: center;
                letter-spacing: 0.06em;

                color: #FFFFFF;


            }

            .footer__send-icon {
                margin-left: 10px;
                fill: #ffffff;
            }


}

 
//-----------------------------------------TABLET-STYLES----------------------------------------------//

@media screen and (min-width: 768px) {

    
    
    .footer__tablet {
        display: flex;

        align-items: baseline;
        padding: 0;
        margin-bottom: 60px;
    }

    .footer__address-part {
        margin-right: 165px;
        margin-left: 76px;
        margin-bottom: 0px;

    }

    
    .footer__socials {
        margin-bottom: 0;
    }

    .footer__email-field {
        width: 450px;
        margin-left: auto;
        margin-right: auto;


}

}

//----------------------------------DESKTOP-STYLES--------------------------------//

@media screen and (min-width: 1200px) {
    .footer.container {
        display: flex;

        align-items: baseline;
        padding-left: 15px;
        padding-right: 15px;

}

        .footer__address-part {
            margin-left: 0;

        }

        .footer__logo {
            text-align: left;

        }

        .footer__address-link {
            text-align: left;

        }

        .footer__email {
            text-align: left;
        }

        .footer__tel {
            text-align: left;

        }



        .footer__address-part {
            margin-right: 70px;
        }

        .footer__socials {
            margin-right: 93px;
        }

        .footer__call-to-action {

            text-align: left;
        }

        .footer__input-area {
            display: flex;
            align-items: center;

            padding: 0;
            margin: 0;
        }

        .footer__form-label {
            text-align: left;

        }

        .footer__email-field {
            width: 358px;
            margin-left: 0;
            margin-bottom: 0;
            margin-right: 12px;
        }

        .footer__subscribe-btn {
            margin: 0;
            margin-left: 0;
            margin-right: 0;
        }

        .footer__tablet {
            margin-bottom: 0;
        }

}