
@media screen and (min-width: 319px) and (max-width: 1199px) {
    section.service {
        display: none;
    }
}

@media screen and (min-width: 1200px) {

.service {
    background-color:var(--bg-main-color);
    padding-bottom: 94px;
}

.service__title {
    margin-top: 0px;
    margin-bottom: 50px;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.service__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.service__list-item {
    position: relative;
    list-style: none;
}

.service__label {
    position: absolute;
    bottom: 0;

    padding-top: 27px;
    padding-bottom: 27px;
    margin: 0;
    
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
}

.service__label-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}

}