
@media screen and (min-width: 320px) {

    .team {
        padding-top: 60px;
        padding-bottom: 60px;

        background-color:var(--bg-middle-color);
    }


    .team__title {
        margin-bottom: 30px;

        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.18;
        
        text-align: center;
        letter-spacing: 0.03em;

        color: #212121;
    }

    .team__list-item {
        width: 100%;
        height: auto;

        
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .team__item-descr {
        padding-top: 30px;
        padding-bottom: 24px;
        padding-left: 42px;
        padding-right: 42px;  
    
    
        background-color: #ffff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

    .team__item-name {
        margin-bottom: 10px;
    
    
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        text-align: center;
        color: #212121;
    }
    
    
    .team__item-role {
        margin-bottom: 16px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        text-align: center;
    }

    .team__social-nets-block {
       
        margin: 0;
    }
    
    
    .team__nets-list {
        display: flex;
        justify-content: space-between;
    }
    
    
    
    
    
    .team__net-icon-thumb {
        display: flex;
        justify-content: center;
        align-items:center;
        width: 44px;
        height: 44px;
        
        border-radius: 50%;
    
    
       
        background-color: #FFFFFF;
    
    
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }  

    .team__net-icon {
        fill: #AFB1B8;

        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

        .team__net-icon-link:hover .team__net-icon-thumb,
        .team__net-icon-link:focus .team__net-icon-thumb {
            background-color: #2196F3;
        }


        .team__net-icon-link:hover .team__net-icon,
        .team__net-icon-link:focus .team__net-icon {
            fill: #ffffff;
        }

}

@media screen and (min-width: 480px) {

    .team__item-descr {
        padding-left: 122px;
        padding-right: 122px;

}

}


@media screen and (min-width: 768px) {

    .team__list {
        display: flex;
        flex-wrap: wrap;
        flex-basis: calc((100% - 30px) / 2);
        margin-bottom: -30px;
    }

    .team__list-item {
        width: 354px;

        margin-right: 30px;

        &:nth-child(2n) {
            margin-right: 0;
        }
        
        &:last-child {
            margin-bottom: 30px;
        }
    }

    .team__item-descr {

        padding-left: 74px;
        padding-right: 74px;
    }
    
    

}

@media screen and (min-width: 1200px) {

    .team {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .team__title {
        margin-bottom: 50px;

        font-size: 36px;
        line-height: 1.1719;

    }

    .team__list {
        display: flex;
        flex-wrap: nowrap;

        margin-right: -30px;
        margin-bottom: -30px;
    }

    .team__list-item {
        width: 270px;

        &:nth-child(2n) {
            margin-right: 30px;
        }

        &:last-child {
            margin-bottom: 0px;
        }

}

        .team__item-descr {
            padding-left: 32px;
            padding-right: 32px;
        }


}