
.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color:var(--bg-middle-color);
}

.team__title {
    margin-top: 0px;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    
    color: #212121;
}

.team__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    
}

.team__list-item {
    list-style: none;
    

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__item-descr {
    padding-top: 30px;
    padding-bottom: 30px;

    background-color: #ffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__item-name {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}

.team__item-role {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}

.team__social-nets-block {
    padding-left: 32px;
    padding-right: 32px;
    margin: 0;
}

.team__nets-list {
    display: flex;
    justify-content: space-between;
}

.team__nets-list-item {
    list-style: none;
}

.team__net-icon-thumb {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    
    background-color: #FFFFFF;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}  

.team__net-icon-link:hover .team__net-icon-thumb,
.team__net-icon-link:focus .team__net-icon-thumb {
    background-color: #2196F3;
}



.team__net-icon-link:hover .team__net-icon,
.team__net-icon-link:focus .team__net-icon {
    fill: #ffffff;
}

.team__net-icon {
    fill: #AFB1B8;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}
