
@media screen and (min-width: 480px) {

    .clients {
        background-color:var(--bg-main-color);
        padding-top: 60px;
        padding-bottom: 60px;
}

    .clients__title {
        display: block;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;

        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.178;
        text-align: center;
        letter-spacing: 0.03em;

        color: #212121;
    }

    .clients__list-item {
        display: block;
        width: 208px;
        height: 92px;

        border: 1px solid #AFB1B8;
    }
    
    .clients__icon {
        fill: #AFB1B8;
    }
   

}