
@media screen and (min-width: 320px) {

    .modal__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    .modal__form-title {
        width: 100%;
        padding: 0;
        margin-bottom: 12px;

        font-weight: 700;
        font-size: 20px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.03em;

        color: #212121;
    }

    .modal__form-field {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 0px;
    
        width: 100%;
    }
    
    
    
    .modal__form-label {
        margin-bottom: 4px;
    
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: #757575;
    }
    
    .modal__input-icon {
        position: relative;
        margin-bottom: 10px;
        padding: 0;
    }
    
    
    .modal__form-input {
        width: 100%;
        height: 40px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-right: 16px;
        padding-left: 42px;
        margin: 0;
    
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
    
        transition-property: border;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:active,
        &:focus {
            border: 1px solid #2196F3;
        }

        &:focus + .modal__icon-person {
            fill:rgba(33, 150, 243, 0.9);
        }


}

        .modal__icon-person {
            position: absolute;
            top: 50%;
            left: 12px;
            
            transform: translateY(-50%);

            transition-property: fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }




 

        .modal__form-text-area {
            height: 120px;
            margin-bottom: 20px;
            padding: 12px 16px;

            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            resize: none;

            transition-property: border;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            
        

            &:focus,
            &:hover,
            &:active {
                border: 1px solid #2196F3;

            }

            &::placeholder {
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.01em;

                color: rgba(117, 117, 117, 0.5);
            }

        }

        .modal__checkbox-label {
            display: flex;
            margin-bottom: 30px;
            padding: 0;
            align-items: center;
            
            font-weight: 400;
            font-size: 8px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            color: #757575;
        }

        .modal__checkbox {
            appearance: none;

            &:checked + .modal__checkbox-box {
                background-color: #2196F3;
                background-image: url('../images/icon-check.svg');
                background-repeat: no-repeat;
                box-sizing: border-box;
                border: 2px solid #2196F3;
            
            }
        }

        .modal__checkbox-box {
            display: inline-block;
            margin-right: 8.38px;

            width: 16px;
            height: 15px;
            border: 2px solid #212121;
            border-radius: 4px;

            transition-property: background-color, border, background-image;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }



        .modal__checkbox-link {
            margin-left: 5.5px;
            font-weight: 400;
            font-size: 8px;
            line-height: 1.17;

            letter-spacing: 0.03em;
            text-decoration-line: underline;

            color: #2196F3
        }

        .modal__submit-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 50px;
            padding: 0;

            background: #2196F3;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            
            border: 0px;
            border-radius: 4px;

            font-weight: 700;
            font-size: 16px;
            line-height: 1.88;
            text-align: center;
            letter-spacing: 0.06em;

            color: #FFFFFF;
            cursor: pointer;

            transition-property: box-shadow;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

            &:focus,
            &:active,
            &:hover {

                box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);

            }
        }

}

@media screen and (min-width: 1200px) {
    .modal__checkbox-label {
        font-size: 14px;
        line-height: 1.71;

}

.modal__checkbox-link {

    font-size: 14px;
        line-height: 1.71;

}


    .modal__form-title {
        font-size: 20px;
        line-height: 1.15;

}

}